
.custom-ion-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-ion-table th,
  .custom-ion-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .custom-ion-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Responsive styles for screens narrower than 768px */
  @media screen and (max-width: 768px) {
    .custom-ion-table {
      font-size: 14px; /* Reduce font size */
    }
    
    .custom-ion-table th,
    .custom-ion-table td {
      padding: 6px; /* Adjust padding for smaller screens */
    }
  }
  

/* Use the custom-modal class to define the modal size */
.custom-modal {
  width: 80% !important; /* Set the desired width */
  max-width: 80%; /* Set the maximum width if needed */
  height: 80vh !important; /* Set the desired height */
  max-height: 80vh; /* Set the maximum height if needed */
}


  

