
<ion-content>
  <ion-header>
    <ion-toolbar >
      <!-- <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="menu"></ion-icon>
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-button>
      </ion-buttons> -->
  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>

      <ion-title class="ion-text-left">All Departments</ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="openModal('')"size="large">
          <!-- <ion-icon name="notifications"></ion-icon> -->
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <!-- <ion-row>
        <ion-col size="3" size-md="1" size-lg="1">
          <ion-button  (click)="openModal('')" > 	<mat-icon>add</mat-icon> </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>

    <ion-card >
      <ion-card-content>
        
        <div class="example-header">
          <ion-searchbar [debounce]="1000" (ionInput)="applyFilter($event)"style="--border-radius:20px;"></ion-searchbar>
        </div>
        
        <div class="for_scroll">
          <table mat-table [dataSource]="dataSource" class="my-table mat-elevation-z8 table table-hover" matSort style="border-radius:20px;">
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Department&nbsp;Name</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Department&nbsp;description</b></th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="manager">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Manager&nbsp;Name</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
            </ng-container>
  
            <ng-container matColumnDef="teamSize">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Team&nbsp;Size</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.teamSize}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="padding-left:60px"> <b>Action </b></th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <ion-button color="primary" (click)="openModal(element)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="deleteClick(element)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching {{filterdata}}</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>