h1, h2 {
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
}

b {
    // border-bottom: 2px solid #333;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 30px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-bottom: 10px;
}
a {
    color: #007BFF;
    text-decoration: underline;
}
p{
    text-align: justify;
    padding-left: 35px;
    padding-right: 30px;
    padding-top:-5000px;
}