<ion-header>
  <ion-toolbar >
    
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>

     
    <ion-title class="ion-text-left">Privacy and Security</ion-title>

   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">privacy-security</ion-title>
    </ion-toolbar>
  </ion-header>
  
<br>
<b>Your Privacy Matters</b>
    <p>We are committed to protecting your privacy and ensuring the security of your personal information.</p>
    <b>Information We Collect</b>
    <p>We collect information you provide when you register on our site, subscribe to our newsletter, or fill out a form. This may include your name, email address, and other contact details.</p>

    <b>How We Use Your Information</b>
    <p>We may use the information we collect from you to personalize your experience, improve our website, send periodic emails, or process transactions.</p>

    <b>Security Measures</b>
    <p>We implement a variety of security measures to safeguard your personal information. These measures include encryption, firewalls, and secure server infrastructure.</p>

    <b>Third-Party Links</b>
    <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of those sites. We encourage you to review the privacy policies of any third-party websites you visit.</p>

    <b>Changes to This Privacy Policy</b>
    <p>We may update this privacy policy from time to time. Any changes will be posted on this page with an updated revision date.</p>

    <b>Contact Us</b>
    <p>If you have any questions or concerns regarding this privacy policy, please <a href="contact.html">contact us</a>.</p>
<br>
<br>
</ion-content>
