<ion-header>
  <ion-toolbar >
    
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>

     
    <ion-title class="ion-text-left">Contact Support</ion-title>

   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <b>Customer Support</b>
  <p>For any queries or assistance, please contact us through the following channels:</p>
  <b>Email:</b>
  <p>📧 abc@gmail.com</p>
  <b>Phone:</b>
  <p>📞 809289XXXX</p>
  <b>Support Hours:</b>
  <p>🕘 Monday - Friday: 9:00 AM - 6:00 PM<br>
    🕙 Saturday: 10:00 AM - 4:00 PM<br>
    </p>
  
</ion-content>
