// /* app.component.scss or your specific styles file */

// ion-label {
//     font-size: 16px; /* Label font size */
//   }
  
//   ion-toggle {
//     --background: #4caf50; /* Toggle button background color when active */
//     --handle-background: #ffffff; /* Toggle handle color */
//   }
  
//   ion-button {
//     --background: #ffcc00; /* Save button background color */
//     --color: #ffffff; /* Save button text color */
//   }
  
//   .last-item {
//     margin-top: 20px; /* Spacing from the last item */
//   }
  
.notification-item {
    padding: 3px;
    // border-bottom: 1px solid #e0e0e0;
  }
  
  .notification-item ion-avatar {
    width: 40px;
    height: 40px;
  }
  
  .notification-item h2 {
    font-size: 1em;
    color: #333;
    margin-bottom: px;
  }
  
  .notification-item p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: px;
  }
  
  .notification-item .date {
    font-size: 0.8em;
    color: #888;
  }
  
  .notification-item ion-button {
    --padding-start: 0;
    --padding-end: 0;
  }
  