ion-searchbar{
    --border-radius:20px;
}
ion-fab-button {
    // --background: transparent; /* To remove blue color */
    --box-shadow: none; /* To remove shadow */
    --border-radius: 0; /* To change border radius */
color: black; /* Change icon color */
  }
  
  ion-fab-list {
    --background: transparent; /* To remove blue color */
  }
  
  ion-fab-button:hover,
  ion-fab-button:active {
    // --background: transparent; /* To remove blue color on hover/active state */
  }
@media (max-width: 768px) { 
    h2{
        font-size: 14px;
    }
    p{
        font-size: 11px;
    }
   }

  
//   .custom-image {
//     // width: 50px;
//     // height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     max-width: 120px;
//     max-height: 120px;
//   }
 
// // ion-header {
// //   ion-toolbar {
// //     --background: #1abc9c;
// //     --color: #fff;

// //     ion-title {
// //       font-size: 1.3rem;
// //       font-weight: bold;
// //     }

// //     ion-button {
// //       --icon-color: #fff;
// //     }
// //   }
// // }
// /* Default table styles */
// .custom-ion-table {
//   width: 100%;
//   border-collapse: collapse;
// }

// .custom-ion-table th,
// .custom-ion-table td {
//   padding: 8px;
//   border: 1px solid #ccc;
//   text-align: left;
// }

// .custom-ion-table th {
//   background-color: #f2f2f2;
//   font-weight: bold;
// }

// /* Responsive styles for screens narrower than 768px */
// @media screen and (max-width: 768px) {
//   .custom-ion-table {
//     font-size: 14px; /* Reduce font size */
//   }
  
//   .custom-ion-table th,
//   .custom-ion-table td {
//     padding: 6px; /* Adjust padding for smaller screens */
//   }
// }





