.bg-holder{
  background: url('../../../assets/images/2.png');
  position: absolute;
  width: 100%;
  top:0%;
  left:0%;
  height:500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.outer{
  // background-image: linear-gradient(to top, rgba(247,149,103,0.4) 30%, #ace0f9 100%);
  background-size: 100% 100%;
  background-color:#c2e6ff;
  border:1px solid;
  height: 100%;
}
.box{
  // background-color:rgba(238,254,253,0.9);
  // background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-color: #c2e6ff;
  width:90%;
  margin:0px auto;
  height:90%;
  margin-top: 2%;
  border-radius: 20px;
  margin-bottom: 2%;
  // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left {
  display: block !important; /* Show left side div */
}

label{
  padding-left: 2%;
}

@media (max-width: 992px) {
  *{
    font-size: 12px;
  }
  .right {
    display: block !important; /* Show left side div */
    width: 100%;
  }
  .box{
    margin-top: 75px;
  }
  h1{
    font-size: 20px;
  }
  
  .left {
    display: none !important; /* Hide right side div */
  }
}