<ion-content class="ion-padding">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="closeModal(false)">Cancel</ion-button>
      </ion-buttons>
      <ion-title>{{ actionType === 'update' ? 'Update Attendance' : 'Add Attendance' }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal(true)" [strong]="true" [disabled]="attendanceForm.invalid">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <form [formGroup]="attendanceForm" (ngSubmit)="closeModal(true)">
      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Your name" readonly="true" formControlName="employeeName"  placeholder="Your name" ></ion-input>
        </ion-item>
      </ion-item>

      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Department name" readonly="true" formControlName="employeeDept"  placeholder="Department name"></ion-input>
        </ion-item>
      </ion-item>
      
      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Current Time" readonly="true" formControlName="currentTime"  placeholder="Current Time"></ion-input>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Current Date" readonly="true" formControlName="currentDate"  placeholder="Current Date"></ion-input>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Current Location" readonly="true" formControlName="currentLocation"  placeholder="Current Location"></ion-input>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Project List" readonly="true" formControlName="projectList"  placeholder="Project List"></ion-input>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="CheckIn Time" readonly="true" formControlName="checkInTime"  placeholder="CheckIn Time"></ion-input>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="CheckOut Time" formControlName="checkOutTime" placeholder="HH:MM:SS"[class.invalid]="attendanceForm.get('checkOutTime')?.invalid && attendanceForm.get('checkOutTime')?.touched"></ion-input>
        </ion-item>
      </ion-item>
      
      <ion-text color="danger" *ngIf="attendanceForm.get('checkOutTime')?.hasError('required') && attendanceForm.get('checkOutTime')?.touched">
        CheckOut Time is required.
      </ion-text>
      
      <ion-text color="danger" *ngIf="attendanceForm.get('checkOutTime')?.hasError('pattern') && attendanceForm.get('checkOutTime')?.touched">
        Please enter a valid time in HH:MM:SS format.
      </ion-text>
      


      <ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="TotalHrs Time" readonly="true" formControlName="totalHrsTime"  placeholder="TotalHrs Time"></ion-input>
        </ion-item>
      </ion-item>
      
    </form>
  </ion-content>