<!-- <ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">All Projects</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal('add','')"size="large">
        <!-- <ion-icon name="notifications"></ion-icon> -->
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button  routerLink="/notifications">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding" [fullscreen]="true" style="margin:0px auto;">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container">
    <ion-slides pager="true" #slider >
      <ion-slide>
        <div class="card-container">
          <ion-card *ngFor="let project of ProjectList" class="ion-card custom-card">
            <ion-card-content>
              <ion-img class="custom-image" [src]="'assets/images/project.jpg'"
                class="custom-image w-100 position-relative border border-5 border-white shadow text-white"></ion-img>
              <br>
              <ion-card-title>{{ project.name }}</ion-card-title><br>

              <div class="label-container">
                <div class="label">
                  <span class="label-text">Status:</span>
                  <div class="label-info">
                    <mat-icon [style.color]="getStatusColor(project.status)">
                      {{ getStatusIcon(project.status) }}
                    </mat-icon>
                    <span [style.color]="getStatusColor(project.status)">
                      <!-- {{ project.status }} -->
                    </span>
                  </div>
                </div>
              
                <div class="label">
                  <span class="label-text">Priority:</span>
                  <div class="label-info">
                    <mat-icon [style.color]="getPriorityColor(project.priority)">
                      {{ getPriorityIcon(project.priority) }}
                    </mat-icon>
                    <span [style.color]="getPriorityColor(project.priority)">
                      <!-- {{ project.priority }} -->
                    </span>
                  </div>
                </div>
              </div>
              
             
              <ion-button class="custom-outline-button" size="small" fill="clear"
                (click)="openModal('view', project)">View Details</ion-button>
            </ion-card-content>
          </ion-card>

        </div>
      </ion-slide>
    </ion-slides>
  </div>

<!-- 
  <ion-button (click)="openModal('add','')"><mat-icon>add</mat-icon> </ion-button> -->

  <ion-card>
    <ion-card-content>
      <div class="example-header">
        <ion-searchbar [debounce]="1000" (ionInput)="applyFilter($event)"
          style="--border-radius:20px;"></ion-searchbar>

      </div>
      <div class="for_scroll">
        <table mat-table [dataSource]="dataSource" class="my-table mat-elevation-z8" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Project&nbsp;Name</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Project&nbsp;Description</b></th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Start&nbsp;date</b></th>
            <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
          </ng-container>
          <ng-container matColumnDef="end_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>End&nbsp;date</b></th>
            <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
          </ng-container>
          <ng-container matColumnDef="projectManager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Project&nbsp;Manager</b></th>
            <td mat-cell *matCellDef="let element"> {{element.projectManager}} </td>
          </ng-container>
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Client</b></th>
            <td mat-cell *matCellDef="let element"> {{element.client}} </td>
          </ng-container>
          <ng-container matColumnDef="teamMembers">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Team&nbsp;Members</b></th>
            <td mat-cell *matCellDef="let element"> {{element.teamMembers}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b></th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Priority</b></th>
            <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
          </ng-container>
          <ng-container matColumnDef="delivered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Delivered</b></th>
            <td mat-cell *matCellDef="let element"> {{element.delivered}} </td>
          </ng-container>
          <ng-container matColumnDef="technologies">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Technologies</b></th>
            <td mat-cell *matCellDef="let element"> {{element.technologies}} </td>
          </ng-container>
          <ng-container matColumnDef="changeRequests">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ChangeRequests</b></th>
            <td mat-cell *matCellDef="let element"> {{element.changeRequests}} </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="padding-left:60px"> <b>Action</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">

              <ion-button color="primary" (click)="openModal('update',element)">

                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="deleteClick(element)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching {{filterdata}}</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>